/***************************************************************************************************************************************************************
 *
 * Fonts
 *
 **************************************************************************************************************************************************************/


// @css {
// 	@font-face {
// 		font-family: 'programme-light';
// 		src: url('programme-light-hint-webfont.eot'); /* IE9 Compat Modes */
// 		src: url('programme-light-hint-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		     url('programme-light-hint-webfont.woff') format('woff'), /* Modern Browsers */
// 		     url('programme-light-hint-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
// 		     url('programme-light-hint-webfont.svg#49e4d28cacad170f0b2b39ec14ac018a') format('svg'); /* Legacy iOS */

// 		font-style:   normal;
// 		font-weight:  200;
// 	}

// 		@font-face {
// 		font-family: 'programme-primitiv';
// 		src: url('programme-primitiv-hint-webfont.eot'); /* IE9 Compat Modes */
// 		src: url('programme-primitiv-hint-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		     url('programme-primitiv-hint-webfont.woff') format('woff'), /* Modern Browsers */
// 		     url('programme-primitiv-hint-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
// 		     url('programme-primitiv-hint-webfont.svg#ae03753bccb9101f9c292beed5eeb7a1') format('svg'); /* Legacy iOS */

// 		font-style:   normal;
// 		font-weight:  400;
// 	}

// 		@font-face {
// 		font-family: 'programme-regular';
// 		src: url('programme-regular-hint-webfont.eot'); /* IE9 Compat Modes */
// 		src: url('programme-regular-hint-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		     url('programme-regular-hint-webfont.woff') format('woff'), /* Modern Browsers */
// 		     url('programme-regular-hint-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
// 		     url('programme-regular-hint-webfont.svg#763cd5c4b96df4ef9e96caad47d07bb4') format('svg'); /* Legacy iOS */

// 		font-style:   normal;
// 		font-weight:  400;
// 	}
// }