/***************************************************************************************************************************************************************
 *
 * Site settings
 *
 **************************************************************************************************************************************************************/


// Media queries
media-xxl = "screen and (min-width: 1800px)"
media-xl = "screen and (min-width: 1200px)"
media-lg = "screen and (min-width: 1024px)"
media-md = "screen and (min-width: 768px)"
media-sm = "screen and (min-width : 620px)"
media-xs = "screen and (max-width : 620px)"
media-xxs = "screen and (max-width : 480px)"

media-retina = "screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

media-max-xxl = "screen and (max-width: 1800px)"
media-max-xl = "screen and (max-width: 1200px)"
media-max-lg = "screen and (max-width: 1024px)"
media-max-md = "screen and (max-width: 768px)"
media-max-sm = "screen and (max-width : 480px)"
media-max-xs = "screen and (min-width : 480px)"

// Colors
Color-primary = #ed3024 //red
Color-secondary = #0060a8 //blue
Color-tertiary = #fbae17 //yellow
Color-border = #e6e6e6
Color-background = #999999
Color-correct = #2FBA46