/***************************************************************************************************************************************************************
 *
 * Animations
 *
 **************************************************************************************************************************************************************/


.animations-canvas
	height 25px
	position absolute
	bottom 0
	left 0
	right 0

	//shark
	.animations-shark
		position absolute
		height 25px
		width auto
		right -50px
		bottom -50px
		animation-fill-mode both

		.has-animated-shark&
			animation shark 50s forwards

	//flags
	.animations-flags
		position absolute
		height 25px
		width auto
		right 30%
		bottom -26px
		transform rotate(-150deg)

		.has-animated-flags&
			animation flagsUp 5s forwards, flagsDown 5s 20s forwards

	.animations-flag1
		right 74%

		.has-animated-flags&
			animation flagsUp 5s 2s forwards, flagsDown 5s 18s forwards

	//ball
	.animations-ball-wrapper
		position absolute
		height 35px
		width 35px
		left 300px
		bottom -60px

		.animations-ball
			position absolute
			height 18px
			width auto
			right 0
			bottom 0
			margin-top -18px

		.has-animated-ball&
			animation ball-momentum 5s cubic-bezier(0.37, 0.35, 0.76, 0.35) forwards,
				ball-move 6s ease-out forwards

			.animations-ball
				animation ball-jump 0.4s infinite cubic-bezier(0.05, 0.51, 0.57, 0.85) alternate,
					ball-rotation 6s infinite linear


	//tube
	.animations-tube
		position absolute
		height auto
		width 30px
		transform rotate(10deg)
		left 44%
		bottom -80px

		.has-animated-tube&
			animation tube-move 3s ease-out forwards,
				tube-rotation 3s ease-in forwards,
				tube-throw-up 1.5s cubic-bezier(0, 0, 0, 1.15) forwards,
				tube-throw-down 1.5s 1.4s cubic-bezier(0.9, 0.04, 1, 0.9) forwards,
				tube-perspective 3s ease-out forwards


	//water
	.animations-water
		background url(../img/water.svg) repeat-x
		background-size 10px 10px
		background-position-x 0
		position absolute
		height 400px
		width 100%
		top 40px
		opacity 0.7
		pointer-events none

		.animations-water-fish
			position absolute
			width 20px
			height auto
			top 180px
			left 18%

		.has-animated-water&
			animation water-filling 50s cubic-bezier(0.42, 0, 0.9, 0.58)

			.animations-water-fish
				animation water-fish 20s 20s ease-in forwards


	//IRB
	.animations-irb
		position absolute
		height 25px
		width auto
		left -80px
		bottom 0

		.has-animated-irb&
			animation irb 15s linear


//shark
@keyframes shark
	from
		bottom -16px
		right -50px
		height 15px
		transform scaleX(1)

	40.0001%
		transform scaleX(-1)

	40%
		bottom -3px
		height 15px
		right 70%
		transform scaleX(1)

	60%
		bottom -1px
		right 5%
		transform scaleX(-1)

	60.0001%
		transform scaleX(1)

	80%
		bottom 0

	to
		bottom -5px
		right 110%
		height 25px
		transform scaleX(1)


//flags
bottom = -26px

@keyframes flagsUp
	from
		transform rotate(-150deg)
		bottom bottom

	30%
		transform rotate(-60deg)
		bottom bottom + 5px

	60%
		transform rotate(-30deg)
		bottom bottom + 18px

	to
		transform rotate(0deg)
		bottom bottom + 26px


@keyframes flagsDown
	from
		transform rotate(0deg)
		bottom bottom + 26px

	75%
		transform rotate(-20deg)
		bottom bottom + 11px

	to
		transform rotate(-150deg)
		bottom bottom - 5px


//ball
@keyframes ball-momentum
	from
		height 35px

	80%
		height 0

	to
		height 0

@keyframes ball-rotation
	from
		transform rotate(0deg)

	to
		transform rotate(-1800deg)

@keyframes ball-move
	from
		left 300px
		bottom -60px

	2%
		bottom 0

	to
		left -45px
		bottom 0

@keyframes ball-jump
	from
		bottom 0

	to
		bottom 100%


//tube
@keyframes tube-move
	from
		left 44%

	to
		left 55%

@keyframes tube-rotation
	from
		transform rotate(10deg)

	to
		transform rotate(-30deg)

@keyframes tube-throw-up
	from
		bottom -80px

	to
		bottom 24px

@keyframes tube-throw-down
	from
		bottom 24px

	to
		bottom -80px

@keyframes tube-perspective
	from
		width 20px

	to
		width 80px


//water
@keyframes water-filling
	from
		background-size 10px 10px
		transform rotate(-1deg)
		top 40px
		// background-position-x 100%

	5%
		transform rotate(1deg)

	8%
		transform rotate(-0.5deg)
		background-size 50px 50px

	12%
		transform rotate(0deg)

	20%
		top -140px
		background-size 750px 750px
		// background-position-x 200%


	90%
		top -140px
		background-size 750px 750px
		// background-position-x 200%

	94%
		transform rotate(0deg)

	96%
		transform rotate(-0.5deg)

	97.5%
		transform rotate(1deg)

	to
		background-size 10px 10px
		transform rotate(-1deg)
		top 40px
		// background-position-x 400%


@keyframes water-fish
	from
		top 180px
		left 18%

	30%
		top 140px

	50%
		top 150px

	70%
		top 140px

	to
		top 180px
		left 110%


//IRB
@keyframes irb
	from
		left -80px
		transform rotate(0deg)

	70%
		left 30%
		transform rotate(0deg)

	75%
		transform rotate(-7deg)

	to
		left 105%
		transform rotate(-7deg)