/***************************************************************************************************************************************************************
 *
 * Animations
 *
 **************************************************************************************************************************************************************/


.animations-canvas
	height 25px
	position absolute
	bottom 0
	left 0
	right 0

	//shark
	.animations-shark
		position absolute
		height 25px
		width auto
		right -50px
		bottom -50px
		animation-fill-mode both

		.has-animated-shark&
			animation shark 50s forwards

	//flags
	.animations-flags
		position absolute
		height 25px
		width auto
		right 30%
		bottom -26px
		transform rotate(-150deg)

		.has-animated-flags&
			animation flagsUp 5s forwards, flagsDown 5s 20s forwards

	.animations-flag1
		right 74%

		.has-animated-flags&
			animation flagsUp 5s 2s forwards, flagsDown 5s 18s forwards

	//ball
	.animations-ball-wrapper
		position absolute
		height 35px
		width 35px
		left 55%
		bottom -60px

		.animations-ball
			position absolute
			height 18px
			width auto
			right 0
			bottom 0
			margin-top -18px

		.has-animated-ball&
			animation ball-momentum 5s cubic-bezier(0.37, 0.35, 0.76, 0.35) forwards,
				ball-move 6s ease-out forwards

			.animations-ball
				animation: ball-jump 0.4s infinite cubic-bezier(0.05, 0.51, 0.57, 0.85) alternate,
					ball-rotation 6s infinite linear

//shark
@keyframes shark
	from
		bottom -16px
		right -50px
		height 15px
		transform scaleX(1)

	40.0001%
		transform scaleX(-1)

	40%
		bottom -3px
		height 15px
		right 70%
		transform scaleX(1)

	60%
		bottom -1px
		right 5%
		transform scaleX(-1)

	60.0001%
		transform scaleX(1)

	80%
		bottom 0

	to
		bottom -5px
		right 110%
		height 25px
		transform scaleX(1)


//flags
bottom = -26px

@keyframes flagsUp
	from
		transform rotate(-150deg)
		bottom bottom

	30%
		transform rotate(-60deg)
		bottom bottom + 5px

	60%
		transform rotate(-30deg)
		bottom bottom + 18px

	to
		transform rotate(0deg)
		bottom bottom + 26px


@keyframes flagsDown
	from
		transform rotate(0deg)
		bottom bottom + 26px

	75%
		transform rotate(-20deg)
		bottom bottom + 11px

	to
		transform rotate(-150deg)
		bottom bottom - 5px


//ball
@keyframes ball-momentum
	from
		height 35px

	80%
		height 0

	to
		height 0

@keyframes ball-rotation
	from
		transform rotate(0deg)

	to
		transform rotate(-1800deg)

@keyframes ball-move
	from
		left 55%
		bottom -60px

	2%
		bottom 0

	to
		left -35px
		bottom 0

@keyframes ball-jump
	from
		bottom 0

	to
		bottom 100%