/***************************************************************************************************************************************************************
 *
 * Header
 *
 **************************************************************************************************************************************************************/


.header-wrapper
	overflow hidden
	padding 10px
	position relative
	text-align: center;


	//switch
	.switch
		-webkit-appearance none
		appearance none
		border 0 none
		background-color #e6e6e6
		border-radius 20px
		width 50px
		height 12px
		font-size 0
		color transparent
		padding 0
		margin 18px
		text-indent -99999em;
		position relative
		float left

		&:after
			content ' '
			position absolute
			top -24px
			right -24px
			bottom -24px
			left -24px

		&:focus
			outline none

		.switch-toggle
			display block
			position absolute
			top -6px
			left 24px
			width 24px
			height 24px
			margin-left -24px
			border-radius 50%
			background-color #ed3024
			transition left 0.4s ease, background 0.4s ease

		&.is-t2p
			.switch-toggle
				left 100%
				background-color #fbae17


	//logo
	.logo-img
		margin 0
		max-width 50px


	//score
	.score
		float right
		width 86px
		text-align right
		clear right

		.score-count
			display inline-block
			font-weight 400
			font-size 24px
			margin 12px 5px 0 0
			transition color 0.4s ease

			&.is-negative
				color red

			&.is-positive
				color #000

		.score-yaynays
			display none


	//progress
	.progress-wrapper
		clear both
		padding 10px
		border-bottom #b5b5b5 1px solid
		overflow hidden

		.progress-title
			float left
			font-size 11px
			margin-top 4px

		.progress
			list-style none
			text-align justify
			margin 0 0 -20px 0
			padding 0 0 0 5px
			overflow hidden

			&:after
				content " "
				display inline-block
				width 100%
				height 0
				overflow hidden

			& > .progress-step
				display inline-block

				.progress-step-dot
					text-indent -999em;
					overflow hidden
					border-radius 50%
					background-color #000
					width 5px
					height 5px
					margin 0 2px
					display block
					transition border, background 0.3s ease

				&.is-active
					.progress-step-dot
						background-color #fff
						border 1px #000 solid
				&.is-wrong
					.progress-step-dot
						background-color Color-primary
				&.is-right
					.progress-step-dot
						background-color green