/***************************************************************************************************************************************************************
 *
 * Header
 *
 **************************************************************************************************************************************************************/


.header-wrapper
	overflow hidden
	padding 6px 12px 18px 12px
	position relative
	text-align center
	border-bottom 1px solid Color-border
	position fixed
	left 0
	right 0
	top 0
	height 69px
	font-size 0
	z-index 100
	background-color #fff
	transition top 0.4s ease, box-shadow 0.4s ease

	.is-scrolled &
		top -65px
		box-shadow 0 2px 5px rgba(0, 0, 0, 0.1)


	//switch
	.switch
		-webkit-appearance none
		appearance none
		border 0 none
		background-color Color-border
		border-radius 20px
		width 50px
		height 12px
		font-size 0
		color transparent
		padding 0
		margin 18px 0
		text-indent -99999em
		position relative
		float left
		opacity 1
		transition opacity 0.2s ease

		.is-scrolled &
			opacity 0

		&:after
			content ' '
			position absolute
			top -24px
			right -24px
			bottom -24px
			left -24px

		&:focus
			outline none

		.switch-toggle
			display block
			position absolute
			top -6px
			left 24px
			width 24px
			height 24px
			margin-left -24px
			border-radius 50%
			background-color Color-primary
			transition left 0.4s ease, background 0.4s ease

		&.is-t2p
			.switch-toggle
				left 100%
				background-color Color-tertiary


	//logo
	.logo-img
		margin 0
		max-width 50px
		opacity 1
		transition opacity 0.2s ease

		.is-scrolled &
			opacity 0


	//highscore link
	.highscore-link
		float right
		width 50px
		height 50px
		text-align right
		clear right
		text-indent -999em
		overflow hidden
		-webkit-appearance none
		appearance none
		padding 0
		margin 0
		background transparent
		border 0 none
		opacity 1
		transition opacity 0.2s ease

		.is-scrolled &
			opacity 0

		&:focus
			outline none

		.highscore-link-svg
			height 34px
			width auto
			margin 8px -9px 0 0


	//progress
	.progress-wrapper
		width 100%
		white-space nowrap
		position relative
		height 18px
		margin-top 0
		transition margin 0.3s ease

		.is-scrolled &
			height 6px
			margin-top 10px

		.progress-title
			font-size 0
			color transparent
			position absolute
			width 1px
			height 1px
			overflow hidden

		.progress
			list-style none
			margin 0
			padding 0
			display flex
			position absolute
			left 0
			right 37px
			top 0

			.progress-step
				display inline-block
				flex 1
				height 18px
				position relative

				.is-scrolled &
					height 6px
					margin 0 2px

				&-dot
					text-indent -999em
					overflow hidden
					border-radius 50%
					background-color #fff
					border 1px solid Color-background
					width 6px
					height 6px
					margin 5px 0
					display block
					transition all 0.3s ease

					.is-scrolled &
						margin 0
						border-radius 0
						height 0
						width 100%

				&.is-active
					.is-scrolled &
						margin 0 3px 0 1px

					.progress-step-dot
						border-width 3px
						height 2px
						width 2px

						.is-scrolled &
							width 100%
							height 0
							border-width 2px

				&.is-wrong
					.progress-step-dot
						border-color Color-primary

				&.is-right
					.progress-step-dot
						border-color Color-correct

		.progress-flag
			position absolute
			top -13px
			left 3px
			width auto
			height 52px
			pointer-events none
			animation-fill-mode both

			&.progress-flag-start
				animation progressflagsstart 1.4s 5s, fade 0.6s 8s forwards

			&.progress-flag-end
				left -20px
				animation progressflagsend 1.4s 6s, fade 0.6s 9s forwards


	//score
	.score
		position absolute
		right 0
		top 0
		width 37px
		height 18px
		text-align right
		line-height 1

		.score-count
			display inline-block
			font-weight 400
			font-size 18px
			margin 0
			transition color 0.4s ease

			.is-scrolled &
				font-size 16px

			&.is-negative
				color red

			&.is-positive
				color #000

		.score-yaynays
			display none


//animations
height = 52px
top = -13px

@keyframes progressflagsstart
	from
		height height
		top top

	10%, 20%
		transform rotate3d(0, 0, 1, -3deg)
		height height - 5px
		top top + 5

	30%, 50%, 70%, 90%
		transform rotate3d(0, 0, 1, 3deg)
		height height + 20px
		top top - 20px

	40%, 60%, 80%
		transform rotate3d(0, 0, 1, -3deg)
		height height + 20px
		top top - 20px

	to
		height height
		top top


height = 52px
top = -13px
left = -20px

@keyframes progressflagsend
	from
		height height
		top top
		left left

	10%, 20%
		transform rotate3d(0, 0, 1, -3deg)
		height height - 5px
		top top + 5
		left left + 5

	30%, 50%, 70%, 90%
		transform rotate3d(0, 0, 1, 3deg)
		height height + 20px
		top top - 20px
		left left - 20px

	40%, 60%, 80%
		transform rotate3d(0, 0, 1, -3deg)
		height height + 20px
		top top - 20px
		left left - 20px

	to
		height height
		top top
		left left


@keyframes fade
	from
		opacity 1

	to
		opacity 0