// /* NAV */
// .headnav {
// 	list-style: none;
// 	padding: 0;
// 	margin: 2em 0 0 0;
// 	width: 100%;
// 	overflow: hidden;
// }
// .headnav-item {
// 	width: 50%;
// 	margin: 0;
// 	padding: 0;
// 	border: none 0;
// }
// .headnav-left { float: left; }
// .headnav-right { float: right; }
// .headnav-link {
// 	background-color: rgba(0, 0, 0, 0.7);
// 	color: #fff;
// 	display: block;
// 	text-align: center;
// 	padding: 0.5em;
// }
// .headnav-link-left {
// 	margin: 0 0 0 2em;
// 	border-radius: 3px 0 0 3px;
// }
// .headnav-link-right {
// 	margin: 0 2em 0 0;
// 	border-radius: 0 3px 3px 0;
// }
// .headnav-link.is-active {
// 	background-color: rgb(239, 195, 77);
// 	box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.4) inset;
// }

// /* CANVAS */
// .canvas { position: relative; }
// .canvas-question {
// 	margin: 0 auto;
// 	width: 300px;
// }
// .question-text {
// 	padding: 4em 0;
// 	text-align: center;
// }
// .canvas-next {
// 	position: fixed;
// 	top: 50%;
// 	right: 0;
// 	padding: 1em;
// 	margin-top: 27px;
// 	background-color: rgba(100,100,100,0.7);
// }

// /* CHOICES */
// .canvas-choices {
// 	list-style: none;
// 	padding: 0;
// 	margin: 0 0 4em 0;
// 	border-top: 1px solid #555;
// }
// .canvas-choices-link {
// 	display: block;
// 	padding: 10px;
// 	border-bottom: 1px solid #555;
// 	transition: background-color 0.5s ease;
// }
// .canvas-choices .is-correct { background-color: #4de95b; }
// .canvas-choices .is-incorrect { background-color: #d6363e; }
// .canvas-choices-thumb {
// 	height: 100px;
// 	margin: 0 auto;
// 	display: block;
// }

// /* SCORE */
// .score {
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// 	border-bottom: 2px dotted #555;
// 	overflow: hidden;
// 	position: relative;
// }
// .score-headline {
// 	text-align: center;
// 	margin-bottom: 0;
// }
// .score-item-left,
// .score-item-right {
// 	float: left;
// 	padding: 0.5em 1em;
// }
// .score-item-right { float: right; }
// .score-item-middle {
// 	position: absolute;
// 	padding: 0.5em 1em;
// 	text-align: center;
// 	left: 0;
// 	right: 0;
// }
// .score-item-middle a { color: #d6363e; }

// /* HIGHSCORE */
// .highscore {
// 	background-color: #fff;
// 	padding: 1em 0;
// 	width: 100%;
// 	position: fixed;
// 	top: 10%;
// 	max-height: 80%;
// 	z-index: 1002;
// 	-webkit-box-shadow: 0 0 5px 0 rgba(50,50,50,0.3);
// 	box-shadow: 0 0 5px 0 rgba(50,50,50,0.3);
// 	text-align: center;
// 	overflow: auto;
// }
// .overlay {
// 	position: fixed;
// 	top: 0px;
// 	left: 0px;
// 	right: 0px;
// 	bottom: 0px;
// 	z-index: 1001;
// 	background-color: rgba(255,255,255,0.9);
// }
// .close-overlay {
// 	font-size: 2em;
// 	position: fixed;
// 	right: 20px;
// 	top: 10%;
// }
// .highscore-headline { text-align: center; }
// .nays { color: #aaa; }
// .highscore-nays { float: right; }
// .highscore-input { padding: 0.5em; }
// .score-board {
// 	width: 170px;
// 	margin: 1em auto;
// 	padding: 0;
// 	text-align: left;
// }
// .score-board.is-loading { height: 200px; }
// .highscore-item { padding: 0.5em; }
// .highscore-item:nth-child(2n) { background-color: #eee; }