/***************************************************************************************************************************************************************
 *
 * Signal sprite positions
 *
 **************************************************************************************************************************************************************/


.signals
	background url('../img/signals.jpg') no-repeat top left
	width 300px
	height 300px

	step = 310;

	&.signal1
		background-position 0 0
	&.signal2
		background-position -( step + ( step * 0 ) )px 0
	&.signal3
		background-position -( step + ( step * 1 ) )px 0
	&.signal4
		background-position -( step + ( step * 2 ) )px 0
	&.signal5
		background-position -( step + ( step * 3 ) )px 0
	&.signal6
		background-position -( step + ( step * 4 ) )px 0
	&.signal7
		background-position -( step + ( step * 5 ) )px 0
	&.signal8
		background-position -( step + ( step * 6 ) )px 0
	&.signal9
		background-position -( step + ( step * 7 ) )px 0
	&.signal10
		background-position -( step + ( step * 8 ) )px 0
	&.signal11
		background-position -( step + ( step * 9 ) )px 0
	&.signal12
		background-position -( step + ( step * 10 ) )px 0
	&.signal13
		background-position -( step + ( step * 11 ) )px 0
	&.signal14
		background-position -( step + ( step * 12 ) )px 0
	&.signal15
		background-position -( step + ( step * 13 ) )px 0
	&.signal16
		background-position -( step + ( step * 14 ) )px 0
	&.signal17
		background-position -( step + ( step * 15 ) )px 0
	&.signal18
		background-position -( step + ( step * 16 ) )px 0
	&.signal19
		background-position -( step + ( step * 17 ) )px 0
	&.signal20
		background-position -( step + ( step * 18 ) )px 0
	&.signal21
		background-position -( step + ( step * 19 ) )px 0
	&.signal22
		background-position -( step + ( step * 20 ) )px 0


	.answers &
		background-size 3405px auto
		width 150px
		height 150px

		step = step / 2;

		&.signal2
			background-position -( step )px 0
		&.signal3
			background-position -( step + ( step * 1 ) )px 0
		&.signal4
			background-position -( step + ( step * 2 ) )px 0
		&.signal5
			background-position -( step + ( step * 3 ) )px 0
		&.signal6
			background-position -( step + ( step * 4 ) )px 0
		&.signal7
			background-position -( step + ( step * 5 ) )px 0
		&.signal8
			background-position -( step + ( step * 6 ) )px 0
		&.signal9
			background-position -( step + ( step * 7 ) )px 0
		&.signal10
			background-position -( step + ( step * 8 ) )px 0
		&.signal11
			background-position -( step + ( step * 9 ) )px 0
		&.signal12
			background-position -( step + ( step * 10 ) )px 0
		&.signal13
			background-position -( step + ( step * 11 ) )px 0
		&.signal14
			background-position -( step + ( step * 12 ) )px 0
		&.signal15
			background-position -( step + ( step * 13 ) )px 0
		&.signal16
			background-position -( step + ( step * 14 ) )px 0
		&.signal17
			background-position -( step + ( step * 15 ) )px 0
		&.signal18
			background-position -( step + ( step * 16 ) )px 0
		&.signal19
			background-position -( step + ( step * 17 ) )px 0
		&.signal20
			background-position -( step + ( step * 18 ) )px 0
		&.signal21
			background-position -( step + ( step * 19 ) )px 0
		&.signal22
			background-position -( step + ( step * 20 ) )px 0