/***************************************************************************************************************************************************************
 *
 * Signal sprite positions
 *
 **************************************************************************************************************************************************************/


.signals
	background url('../img/signals.jpg') no-repeat top left
	width 300px
	height 300px

	&.signal1
		background-position 0 0
	&.signal2
		background-position -310px 0
	&.signal3
		background-position -620px 0
	&.signal4
		background-position -930px 0
	&.signal5
		background-position -1240px 0
	&.signal6
		background-position -1550px 0
	&.signal7
		background-position -1860px 0
	&.signal8
		background-position -2170px 0
	&.signal9
		background-position -2480px 0
	&.signal10
		background-position -2790px 0
	&.signal11
		background-position -3100px 0
	&.signal12
		background-position -3410px 0
	&.signal13
		background-position -3720px 0
	&.signal14
		background-position -4030px 0
	&.signal15
		background-position -4340px 0
	&.signal16
		background-position -4650px 0
	&.signal17
		background-position -4960px 0
	&.signal18
		background-position -5270px 0
	&.signal19
		background-position -5580px 0
	&.signal20
		background-position -5890px 0
	&.signal21
		background-position -6200px 0
	&.signal22
		background-position -6510px 0