/***************************************************************************************************************************************************************
 *
 * Splash screen
 *
 **************************************************************************************************************************************************************/


.splash
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	background #fff url(../img/splash.jpg) no-repeat center
	background-size 100% auto
	// background #ccc
	display flex
	justify-content center
	align-items center
	z-index 900
	transition opacity 0.4s ease
	opacity 1
	cursor pointer

	// @media screen and (max-width: 1131px)
	// 	background #fff url(../img/cover.jpg) no-repeat center
	// 	background-size 100% auto

	&.is-closing
		animation close 0.4s forwards linear

	&.is-animating
		pointer-events auto
		visibility visible
		animation splash 4s forwards linear

	.splash-wrapper
		text-align center
		width 100%

	.splash-logo
		width 200px
		margin-bottom 81px

	.no-flexbox &
		.splash-wrapper
			position absolute
			top 50%
			margin-top -130px
			width 100%
			left 0

@keyframes splash
	0%
		opacity 1
	90%
		opacity 1
	99.99%
		opacity 0
		display flex
		visibility visible
		pointer-events auto
	100%
		opacity 0
		display none
		visibility hidden
		pointer-events none

@keyframes close
	0%
		opacity 1
	100%
		opacity 0
		display none
		visibility hidden
		pointer-events none