/***************************************************************************************************************************************************************
 *
 * Overall structure
 *
 **************************************************************************************************************************************************************/


html
body
	background #d0d9e0

main
	background url(../img/background.png) repeat-x
	background-size auto 100%