name: Testing

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Debug infos
      - name: Node version
        run: node --version
      - name: npm version
        run: npm --version
      - name: Yarn version
        run: yarn --version

      - name: Cypress install
        uses: cypress-io/github-action@v5
        with:
          runTests: false
          build: npm run build

      - name: Cache build folder
        uses: actions/upload-artifact@v4
        with:
          name: build
          if-no-files-found: error
          path: build

  cypress-run:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download the build folder
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - name: Install server dependencies
        run: cd server && yarn --frozen-lockfile

      - name: E2E tests
        uses: cypress-io/github-action@v5
        with:
          start: npm run start:dev
          browser: chrome

      - name: Unit tests
        run: npm run test:unit
