name: Testing

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Debug infos
      - name: Node version
        run: node --version
      - name: npm version
        run: npm --version
      - name: Yarn version
        run: yarn --version

      - name: Install dependencies for app
        run: yarn --frozen-lockfile

      - name: Install dependencies for server
        run: cd server && yarn --frozen-lockfile

      - name: Cache build folder
        uses: actions/upload-artifact@v4
        with:
          name: build
          if-no-files-found: error
          path: build

  testing:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Debug infos
      - name: Node version
        run: node --version
      - name: npm version
        run: npm --version
      - name: Yarn version
        run: yarn --version

      - name: Download the build folder
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - name: E2E tests
        run: yarn test
